<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h3 class="text-center" style="color: var(--text-secondary-color) !important;">Stay in the Loop</h3>
            <p style="color: var(--text-secondary-color); margin-bottom:1rem;">Sign up for updates from OpenStudios Lawrence.</p>
            <div style="margin-top:-15px;">
                <iframe title='Signup form powered by Zeffy' style='border:0;width:100%;' src='https://www.zeffy.com/en-US/embed/newsletter-form/sign-up-for-our-newsletter-2973' allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            {{ if or .Site.Params.navbar.brandLogo .Site.Params.favicon }}
                <div class="pb-2">
                    <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
                        <img alt="Footer logo" src="{{ .Site.Params.navbar.brandLogo | default .Site.Params.favicon }}"
                            height="40px" width="40px">
                    </a>
                </div>
            {{ end }}
            <div class="pb-2"><small><em>Open Studios Lawrence is a franchise of <a href="https://fischhaus.com/openstudios/">Open Studios</a> in Wichita, Kansas and is supported in cooperation with <a href="https://lawrencemakers.org">Lawrence Makers</a></em></small></div>
            &copy; {{ now.Format "2006"}} {{ .Site.Params.copyright }} {{ .Site.Params.terms.copyright | default "All Rights Reserved" }}
        </div>
    </div>
</div>
